<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <th:block th:fragment="header">
        <header>
            <h2>SIMPLE BLOG</h2>
            <nav>
                <ul class="id">
                    <ul class="menu">
                        <li><a href="#">NOTICE</a></li>
                        <li><a href="/board">BOARD 1</a></li>
                        <li><a href="/board">BOARD 2</a></li>
                    </ul>
                    <li>ID : <span sec:authentication="name"></span></li>
                </ul>
            </nav>
        </header>
    </th:block>
<!--
소유 권한 : <span sec:authentication="authorities"></span> <br>
-->
</html>
