<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head" :: head></th:block>
<body>

  <div class="container">
    <th:block th:replace="fragments/header :: header"></th:block>
    <h3><a href="/board">BOARD 1</a></h3>
    <form id="frm" method="post">
      <table class="board_detail">
        <tbody>
        <tr>
          <th scope="row">글 번호</th>
          <td th:text="${board.bidx}"></td>
          <th scope="row">조회수</th>
          <td th:text="${board.viewcnt}"></td>
        </tr>
        <tr>
          <th scope="row">제목</th>
          <td colspan="3" id="title" name="title" th:text="${board.title}"/></td>
        </tr>
        <tr>
          <td colspan="4" class="view_text" th:utext="${board.content}">
            <!--
            <textarea title="content" id="content" name="content" th:utext="${board.content}"></textarea> <-->
          </td>
        </tr>
        </tbody>
      </table>
      <input type="hidden" name="bidx" th:value="${board.bidx}">
    </form>
  </div>

  <div class="container">
    <a th:each="list : ${board.fileList}" th:text="|${list.originalFileName}(${list.fileSize} kb)|"></a>
  </div>

  <div class="btn-under-group" align="right">
      <button class="btn btn-primary" id="list">LIST</button>
      <!--
      <button class="btn btn-primary" id="edit">EDIT</button>
      -->
      <button class="btn btn-primary" id="delete">DELETE</button>
  </div>

  <div class="container">
    <form name="commentInsertForm">
      <div class="comment-group">
        <input type="hidden" name="bidx" th:value="${board.bidx}"/>
        <input type="text" class="comment-insert" id="comcontent" name="comcontent" placeholder="COMMENT">
        <button class="btn-com" type="button" name="commentInsertBtn">SUBMIT</button>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="commentList"></div>
  </div>
</div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#list").on("click", function(){
        location.href = "/board";
      });

      $("#edit").on("click", function(){
        var frm = $("#frm")[0];
        frm.action = "updateBoard";
        frm.submit();
      });

      $("#delete").on("click", function(){
        var frm = $("#frm")[0];
        frm.action = "deleteBoard";
        frm.submit();
      });
    })
  </script>

  <script type="text/javascript">
    var bidx = [[${board.bidx}]];

    $('[name=commentInsertBtn]').click(function(){
      var insertData = $('[name=commentInsertForm]').serialize();
      commentInsert(insertData);
    });

    function commentList(){
      $.ajax({
        url : '/comment/list',
        type : 'get',
        data : {'bidx':bidx},
        success : function(data){
          var a ='';
          $.each(data, function(key, value){
            a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
            a += '<div class="commentContent'+value.cidx+'"> <p> '+ value.comcontent;
            a += '<button class="btn-com2" style="float:right" onclick="commentDelete('+value.cidx+');"> DELETE </button>';
            a += '<button class="btn-com2" style="float:right" onclick="commentUpdate('+value.cidx+',\''+value.comcontent+'\');"> EDIT </button> </p> </div>';
            a += '</div></div>';
          });
          $(".commentList").html(a);
        }
      });
    }

    function commentInsert(insertData){
      $.ajax({
        url : '/comment/insert',
        type : 'post',
        data : insertData,
        success : function(data){
          if(data == 1) {
            commentList();
            $('[name=comcontent]').val('');
          }
        }
      });
    }

    function commentUpdate(cidx, comcontent){
      var a ='';
      a += '<div class="comment-group">';
      a += '<input type="text" class="comment-insert" name="content_'+cidx+'" value="'+comcontent+'"/>';
      a += '<button class="btn-com" type="button" onclick="commentUpdateProc('+cidx+');">EDIT</button>';
      a += '</div>';
      $('.commentContent'+cidx).html(a);

    }

    function commentUpdateProc(cidx){
      var updateContent = $('[name=content_'+cidx+']').val();
      $.ajax({
        url : '/comment/update',
        type : 'post',
        data : {'comcontent' : updateContent, 'cidx' : cidx},
        success : function(data){
          if(data == 1) commentList(bidx);
        }
      });
    }

    function commentDelete(cidx){
      $.ajax({
        url : '/comment/delete/'+cidx,
        type : 'post',
        success : function(data){
          if(data == 1) commentList(bidx);
        }
      });
    }

    $(document).ready(function(){
      commentList();
    });
  </script>

</div>
</body>
</html>